
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>No Changes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="display-3">No Changes were found</h1>
            <br />
            <h4>@ViewBag.Error</h4>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>
